/*
* Name: Melanie Damilig
* Date: 2015/04/25
* Time: 11:57 PM
*/

h1 {
	font-size: 30px;	
	color: #8f8e8e;
	font-weight: 800;
}

h2 {
	font-size: 24px;	
	color: #8f8e8e;
}

table {
	border: solid 1px #d6d6d6;
	clear: left;
	width: 100%;
}

th {
	background-color: #75b264;
	color: #FFF;
	font-size: 20px;
    font-weight: 200;
}

table tr {
    border-bottom: 5px solid grey;
}

footer {
	background-color: #494949;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	bottom: 0;
}

footer div {
	background-color: #494949;
	color: #FFF;
	float: left;
	padding-left: 3%;
	padding-right: 3%;
}

#filters {
    margin-bottom: 20px;
}
#itemCode {
    width: 75px;
}
#pages {
    text-align: center;
    width: 130px;
    float: right;
}

