body {
    font-family: Lucida;
}
main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border: lightgreen solid 10px;
    border-radius: 20px;
    padding: 15px;
}