/*
* Name: Melanie Damilig
* Date: 2015/04/25
* Time: 11:57 PM
*/

h1 {
	font-size: 30px;
	color: #8f8e8e;
	font-weight: 800;
}

#add {
    float: right;
    font-size: 24px;
    font-weight: 600;
}

input[type="text"] {
    width: 100px;
}

table#users {
	border: #d6d6d6 solid 1px;
	width: 100%;
}

th {
	background-color: #75b264;
	color: #FFF;
	font-size: 24px;
}
#pages {
    text-align: center;
    width: 130px;
    float: right;
}

